* {
    margin: 0;
    padding: 0;
}

body{
    background-color: grey;
}

.input-group {
    display: flex;
    margin: 15px;
}

form {
    margin: 50px;
    justify-content: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.service {
    text-align: center;
}

.service img {
    width: 150px;
    height: auto;
    animation: spin 4s linear infinite;
}

.service h2 {
    margin-top: 1rem;
}